.font-meta {
  font-size: 0.875rem;
}

.font-body {
  font-size: 1rem;
}

.font-title-xs {
  font-size: 1.25rem;
  font-weight: 500;
}

.font-title-s {
  font-size: 1.5rem;
  font-weight: 600;
}

.font-title-l {
  font-size: 1.75rem;
  font-weight: 600;
}

.font-display {
  font-size: 2.5rem;
  font-weight: 700;
}