{{ $lang := or .Site.Language.LanguageCode .Site.Language.Lang }}
{{ $description := .Description | default (i18n "site_description") | default .Site.Params.description }}
<!DOCTYPE html>
<html lang="{{ $lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ if .IsHome }}{{ .Title | default .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
    {{ with $description }}<meta name="description" content="{{ . }}">{{ end }}
    {{ $scss := resources.Get "scss/main.scss" | toCSS (dict "targetPath" "css/style.css") }}
    <link rel="stylesheet" href="{{ $scss.RelPermalink }}">

    <link rel="canonical" href="{{ .Permalink }}">
    {{ if .IsTranslated }}
      {{ range .AllTranslations }}
        <link rel="alternate" hreflang="{{ or .Language.LanguageCode .Language.Lang }}" href="{{ .Permalink }}">
      {{ end }}
    {{ end }}
    {{ partial "seo.html" . }}
    {{ with resources.Get "js/header.js" }}
      {{ $headerJS := . | minify | fingerprint }}
      <script src="{{ $headerJS.RelPermalink }}" integrity="{{ $headerJS.Data.Integrity }}" defer></script>
    {{ end }}
    {{ if eq .Type "conversion" }}
      {{ with resources.Get "js/inquiry-form.js" }}
        {{ $inquiryJS := . | minify | fingerprint }}
        <script src="{{ $inquiryJS.RelPermalink }}" integrity="{{ $inquiryJS.Data.Integrity }}" defer></script>
      {{ end }}
    {{ end }}
  </head>
  <body class="site-body site-body--{{ .Kind }} site-body--{{ .Type | default "default" }}">
    {{ partial "header.html" . }}
    {{ partial "breadcrumbs.html" . }}
    {{ block "main" . }}{{ end }}
    {{ partial "footer.html" . }}
  </body>
</html>
